mat-sidenav-container {
  display: block;
  height: 100%;
}

mat-sidenav {
  width: 60%;
  background-color: #3f51b5;
  color: white;
}

mat-sidenav a {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 10%;
  display: block;
}

mat-sidenav a:hover {
  background-color: #f50057;
}

mat-sidenav ul {
  list-style-type: none;
  padding: 0;
}


.menu-toggle{
  display:flex;
  padding-top:1% ;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
  max-width: 50px;
  max-height: 50px;
  margin: 2%;
  background-color: #3f51b5;
  color:white;
  border-radius: 10%;
  font-size: 20px;
  justify-content: center;
  align-items: center; 
}

mat-sidenav button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 5%;
  padding: 2%;
}
